body{
background-color: blueviolet;
}
#company{
    font-size: larger;
    outline: none;
}
#model{
    font-size: larger;
    outline: none;
}
.main{
    width: 500px;
height: 500px;
background-color: blueviolet;

    margin: auto;
    text-align: center;
    padding:50px ;
}
.list{
    list-style-type: none;
    color: white;
}